body, * {
  box-sizing: border-box;
  background-color: black;
}



.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Gabarito', sans-serif;

}
.navbar a {
  float: left;
  display: block;
  color: #2196F3;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.title .title-text {
  display: block;
  text-align: center;
  font-family: 'Gabarito', sans-serif;
  text-decoration: none;
  color: #2196F3;
  align-items: center;
  font-size: 3em;
  padding-top: 30px;

}

.navbar .news {


}

.navbar .contact {


}

.navbar .about {


}



.nav-image {
  float: left;
  height: 40px;
  padding: 12px 16px;


}

.navbar h1 {

}




/* Change the color of links on hover */
.navbar a:hover {

  color: white;
  border-color: #2196F3;
  border-right: none;
  border-bottom: solid;
  transition: all ease-in-out 0.2s;


}


/* Style the "active" element to highlight the current page */
.navbar a.active {
  background-color: #2196F3;
  color: white;
}


.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
  margin-top: 8px;
  margin-right: 16px;
  caret-color: #2196F3;
  color: #2196F3



}

/* Media query used to adjust the size of the navbar for all devices with screens less than 600px */
@media (max-width: 600px) {
  .navbar, .navbar a, .navbar input, .navbar a:hover [type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 14px;
    margin: 0;
    border-right: 2px;
    flex-direction: column;
}
  }

  .container-header {
    position: relative;
    background-color: transparent;
    color: transparent;

  }
.container-header img {
  border-radius: 25px;
  padding-top: 10px;
}

/*main heading of the page*/
  .cmt {
  animation-duration: 1s;
  animation-name: slidein;
  font-family: 'Gabarito', sans-serif;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2196F3;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  }
/* Used to animate .cmt to come from the right to left */
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

  @media (max-width: 600px) {
    .cmt, .cmt h1 {
      word-wrap: break-word;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #2196F3;
      padding: 5px 10px;
      font-size: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0);
    }
  }


  .main-page {
    display: flex;
    flex-direction: row;
  }
